<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <nb-chat title="Demo-bot!">

      <nb-chat-message [type]="'text'"
                      [message]="'teste 1'">
      </nb-chat-message>
      <nb-chat-message [type]="'text'"
                      [reply]="true"
                      [message]="'teste 2 reply'">
      </nb-chat-message>

      <nb-chat-form [dropFiles]="true">
      </nb-chat-form>
    </nb-chat>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
