<nb-layout center>
    <nb-layout-header fixed>
      <button nbButton status="basic" (click)="returnMainPage()" size="small"> Voltar </button>
    </nb-layout-header>
    
    <nb-layout-column>
        <h1 style="text-align: center;">Projeto desenvolvido na Disciplina de MC855 oferecida pelo Instituto de Computação da UNICAMP</h1>

        <nb-card accent="success">
            <nb-card-header style="text-align: center; margin-top: 5%;">
                <h5>
                    Professor Responsável: Arthur João Catto <br>
                    PED: Fabrício Matheus Gonçalves <br>
                    Médica Supervisora: Adriana Gut Lopes Riccetto
                </h5>
            </nb-card-header>
            <nb-card-body style="text-align: center; margin-top: -5%;">
                <h5>Grupo de Desenvolvimento:</h5>
                <h6 style="margin-top: -2%;">
                    Natália Satie Odashima <br>
                    Pedro Barros Bastos <br>
                    João Guilherme de Oliveira <br>
                    Gabriel Volpato Giliotti
                </h6>
                <h6>
                    Links: &nbsp;&nbsp;
                    <a href="https://github.com/mc855-grupo-8/demo-bot">Repositório do Projeto</a>&nbsp;&nbsp;
                    <a href="https://github.com/mc855-grupo-8/demo-bot/blob/main/README.md">README</a>
                </h6>
            </nb-card-body>
        </nb-card>
        
    </nb-layout-column>
</nb-layout>